@{
    this.ViewBag.PageTitle = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DatenMeisterWeb.Models.UserLoginModel


<h1>Der DatenMeister</h1>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="lead">Welcome to DatenMeister, a dataset manipulation tool</p>
        @using (Html.BeginForm(new { id = "loginform" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.username)
                @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.password)
                @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Perform Login</button>

            @Html.ValidationSummary()
        }
    </div>
</div>
